{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyShop{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static 'store/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>MyShop</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Products</a></li>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display:inline">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn">Logout</button>
                    </form>
                {% else %}
                    <li><a href="{% url 'signup' %}">Signup</a> / <a href="{% url 'login' %}">Login</a></li> 
                {% endif %}
                <li><a href="{% url 'cart' %}">Cart</a></li>
            </ul>
        </nav>
    </header>

    <!-- Messages Section below -->
     {% if messages %} 
        <div class="messages">
            {% for message in messages %}
                <p class="message {{ message.tags}}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}
        <!--page specific content goes here-->
        {% endblock %}
    </main>
    <footer class="site-footer">
        <p>&copy; 2025 Sports Fanatic. All rights reserved.</p>
    </footer>

        </nav>
    </header>
</body>
</html>