{% extends 'store/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet"  href="{% static 'store/internal_tools.css' %}">
{% endblock %}

{% block title %}Internal Tools - MyShop{% endblock %}

{% block content %}
    <h1>Internal Tools</h1>

<p> Welcome to the Internal Tools Page.</p>
    <p>Here you can manage various aspects of the store.</p>

    <h2>Available Tools</h2>
    <ul>
        <li><a href="{% url 'catalog_tool' %}">Catalog Tool</a></li>
    </ul>

    <p>For more information, please refer to the documentation or contact support.</p>

{% endblock %}