{% extends 'store/base.html' %}

{% block title %}{{product.name}}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>Stock:</strong> {{ product.stock }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    {% if product.image %}
        <img src="{{ product.image.url}}" alt="{{ product.name}}">
    {% endif %}
    <a href="{% url 'product_list' %}">Back to Products</a>
    {% endblock %}